
body {
    margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: 'Jost', sans-serif;
      background: linear-gradient(to bottom, #0f0c29, #3264a6, #22304a);
      background-image: url("../../assets/img/education.jpg"); 
      font-family: 'Calibri', 'Arial', sans-serif;
      
  
  }
  
  .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: rgba(214, 223, 241, 0.9); /* Transparent white background */
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Larger box shadow */
      transition: background-color 0.01s ease; /* Smooth transition for background color */
      margin-left: 430px;
    }
    
    .container:hover {
      background-color: rgba(255, 255, 255, 1); /* Full white background on hover */
    }
    
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    
    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    button {
      width: 60%;
      height: 40px;
      margin: 10px auto;
      justify-content: center;
      display: block;
      color: #fff;
      background: linear-gradient(45deg, #3b518a, #5487df); /* Linear gradient background */
      font-size: 1em;
      font-weight: bold;
      margin-top: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: .2s ease-in;
      cursor: pointer;
    }
    
    button:hover {
      background: linear-gradient(45deg, #4a44b8, #3b518a); /* Adjusted gradient on hover */
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    /* Style the container */
    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    /* Add some spacing and style to the heading */
    h2 {
      margin-bottom: 10px;
    }