<body>

      

    <div class="container">
        <h2>Get Class</h2>
        <label for="getClassId">Class ID:</label>
        <input type="number" id="getClassId" name="getClassId" [(ngModel)]="getClassId" required>
      
        <button (click)="getClass()">Get Class</button>
      
        <div *ngIf="retrievedClass">
          <h3>Retrieved Class:</h3>
          <table>
            <tr>
              <th>ID</th>
              <th>Max Students</th>
              <th>Level</th>
              <!-- Add more columns based on your SchoolClass model -->
            </tr>
            <tr>
              <td>{{ retrievedClass.idClass }}</td>
              <td>{{ retrievedClass.nbMax }}</td>
              <td>{{ retrievedClass.level }}</td>
              <!-- Add more cells based on your SchoolClass model -->
            </tr>
          </table>
        </div>
      </div>
      
          
     
        

  
      
</body>