<body>
  <div class="container">
    <form >
      <label for="classId">Class ID:</label>
      <input type="text" id="classId" [(ngModel)]="classId" required>
      <button type="submit" (click)="toggleTableVisibility()">Get Subjects By Class ID</button>
    </form>
 

    <div *ngIf="subjects && subjects.length > 0">
      <h3>Subjects:</h3>
      <table *ngIf="showTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <!-- Add more headers as needed -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects">
            <td>{{ subject.idSubject }}</td>
            <td>{{ subject.title }}</td>
            <!-- Add more cells for other properties -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  </body>
  